<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/js/script.js"></script>

    <style>
        #image { width: 500px; }
        #result { font-style: italic; }
    </style>
</head>
<body>
    <div id="result">
        <br/><br/>
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> Could not fetch image from URL provided. This is usually due to a permissions issue or bad URL.
        </div>
    </div>
</body>
</html>
